# Ignorar el archivo de entorno
.env

# Ignorar la carpeta de dependencias
node_modules/

# Ignorar archivos temporales del sistema
.DS_Store

# Ignorar carpetas de compilación (si usas React o similar)
dist/
build/private/virtualassistant-mltn-5494f897fc39.json
